:root {
    --blak: #0A0A0C;
    --white: #e4e4e4;
    --blu: #194BFD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

img {
    width: 100%;
}

html {
    font-size: 10px;
}

body {
    font-size: 10px;
    background-color: var(--blak);
    color: var(--white)
}

header { /* هدر */
    width: 100%;
    padding: 25px;
    margin-bottom: 10px;
    background-color: #101012;
}

.header {
    display: flex;
    justify-content: space-between;
}

.r_header {
    display: flex;
    font-size: 2rem;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    color: var(--white);
    transition: all 0.2s;
}

.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.2s;
}

.nav li::after {
    display: flex;
    content: "";
    width: 0;
    height: 3px;
    margin-right: 34px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: var(--blu);
    opacity: 80%;
    transition: all 0.3s;
}

.nav li {
    transition: 1s;
}

.nav li:hover::after {
    display: flex;
    margin-right: 0;
    width: 100%;
}

.l_header {
    display: flex;
    font-size: 2.6rem;
}

.logo {
    align-items: center;
} /* پایان هدر */

.pedarbox{ /* شروع نمایش نمونه کارها */
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 2rem;
    padding: 20px;
    flex-wrap: wrap;
}

.none{
    display: none;
    transform: translate(0px ,-100px);
    opacity: 0%;
    transition: all 0.5s;
}

.boxrow{
    flex-wrap: wrap;
    opacity: 100%;
    transform: translate(0px ,-0px);
    transition: all 0.5s;
}

#ani{
    transform: rotate(90deg);
    transition: all 0.5s;
}
#ani1{
    transform: rotate(90deg);
    transition: all 0.5s;
}
#ani3{
    transform: rotate(90deg);
    transition: all 0.5s;
}


.pedarbox p{
    cursor: pointer ;
}

.pedarbox .box {
    flex-direction: column;
    max-width: 300px;
    padding: 30px;
    /* border: solid 4px #686868; */
    border-radius: 14px;
    gap: 20px;
    transition: all 0.5s;

}



.abute {
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
}

.img_box img {
    width: 100%;
    border-radius: 7px;
}

.button_box button {
    width: 110px;
    height: 35px;
    padding: 4px;
    border: none;
    border-radius: 50px;
    background: rgb(25, 75, 253);
    background: linear-gradient(142deg, rgba(25, 75, 253, 1) 0%, rgba(173, 19, 251, 1) 100%);
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    font-family: inherit;
}

.box:hover {
    background-color: #101012;
    transform: scale(1.1, 1.1);
    max-width: 350px;
}

.box:hover button {
    width: 75px;
    height: 27px;
}

.box:hover .abute {
    font-size: 1.5rem;
}

.pedarbox:focus .box{
    display: flex;
    opacity: 1;
    transition: all 0.5s;
}/* پایان نمایش نمونه کارها */

.pedar_nav_bottom {
    display: none;
    justify-content: center;
    width: 100%;
}

.nav_bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #1010129c;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    padding: 30px;
    width: 650px;
    transition: all 0.5s;
}

.nav_bottom a {
    color: var(--white);
    transition: all 0.2s;
}

.nav_bottom ul {
    display: flex;
    gap: 250px;
    list-style: none;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 2rem;
}

.footer{
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 100%;
    border-top: 1px solid #ffffff23;
    margin-top: 150px;
    padding:  50px 50px 30px 50px;
    font-size: 1.3rem;
    
}

.box_footer{
    display: flex;
    justify-content: space-evenly;
}

.box_footer p{
    color: var(--white);
    margin-bottom: 10px;
}

.box_footer a{
    color: rgba(255, 255, 255, 0.349);
    transition: all 0.3s;
}

.box_footer a:hover{
    color: rgba(255, 255, 255, 0.473);

}

.contacts{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.Quick_link{
    display: flex;
    flex-direction: column;
}

.copyright{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

@media(min-width:1024px){
    footer{
        position: relative;
    bottom: -150PX;
    }
}

@media(max-width:1024px) {
    .header{
        justify-content: center;
    }
    .r_header{
        display: none;
    }
    .pedar_nav_bottom{
        display: flex;
    }

    .box:hover {
        background-color: #101012;
        transform: scale(1, 1);
        
    }
    footer{
        
        position: static;
       
    }
}
@media(max-width:690px){
    .nav_bottom {
        width: 100%;
        bottom: 0;
    }
    .btn_View_Projects{
        bottom: 120px;
        right: 40%;
    }
    .she_btn{
        font-size: 1rem;
    }
    .box_footer{
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media(max-width:477px){
    .nav_bottom ul{
        gap: 70px;
    }
    .she_btn{
        font-size: 0.8rem;
    }
    .btn_View_Projects{
        width: 120px;
        height: 35px;
        font-size: 1rem;
        bottom: 80px;
        right: 33%;
    }
    .box_footer{
        gap: 50px;
    }
}