:root {
    --blak: #0A0A0C;
    --white: #e4e4e4;
    --blu: #194BFD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

img {
    width: 100%;
}

html {
    font-size: 10px;
}

body {
    font-size: 10px;
    background-color: var(--blak);
    color: var(--white)
}
/* شروع هدر */
header {
    width: 100%;
    padding: 25px;
    margin-bottom: 10px;
    background-color: #101012;
}

.header {
    display: flex;
    justify-content: space-between;
}

.r_header {
    display: flex;
    font-size: 2rem;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    color: var(--white);
    transition: all 0.2s;
}

.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.2s;
}

.nav li::after {
    display: flex;
    content: "";
    width: 0;
    height: 3px;
    margin-right: 34px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: var(--blu);
    opacity: 80%;
    transition: all 0.3s;
}

.nav li {
    transition: 1s;
}

.nav li:hover::after {
    display: flex;
    margin-right: 0;
    width: 100%;
}

.l_header {
    display: flex;
    font-size: 2.6rem;
}

.logo {
    display: flex;
    align-items: center;
}  /* پایان هدر */

.box_pedar { /* شروع بخش پروژه‌های */
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 1200px;
    font-size: 2rem;
}

.box_nemone {
    display: flex;
    justify-content: space-between;
    background-color: #101012;
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 30px;
    /* border: solid 4px #686868; */
    border-radius: 14px;
    gap: 20px;
    transition: all 0.5s;
}

.abute {
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
}

.img_box img {
    width: 100%;
    border-radius: 7px;
}

.button_box button {
    width: 110px;
    height: 35px;
    padding: 4px;
    border: none;
    border-radius: 50px;
    background: rgb(25, 75, 253);
    background: linear-gradient(142deg, rgba(25, 75, 253, 1) 0%, rgba(173, 19, 251, 1) 100%);
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    font-family: inherit;
}

.box:hover {
    background-color: #101012;
    transform: scale(1.5, 1.5);
    max-width: 350px;
}

.box:hover button {
    width: 75px;
    height: 27px;
}

.box:hover .abute {
    font-size: 1.5rem;
} /* پایان بخش پروژه‌های */

.proje { /*شروع بخش معرفی*/
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 100px;
    font-size: 3rem;
}

samp {
    color: #194BFD;
    font-family: inherit;
}

.View_all_Projects {
    display: flex;
    justify-content: center;
    max-width: 100%;
}


.btn_View_Projects {
    width: 150px;
    height: 40px;
    padding: 4px;
    border: none;
    border-radius: 50px;
    background: rgb(25, 75, 253);
    background: linear-gradient(142deg, rgba(25, 75, 253, 1) 0%, rgba(173, 19, 251, 1) 100%);
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    font-family: inherit;
    font-size: medium;
    position: relative;
    bottom: 193px;
    right: 50%;
}

.btn_View_Projects:hover {
    transform: scale(1.2, 1.2);
} /* پایان بخش معرفی */

.box_she { /* شروع بخش همکاری */
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    background-color: #101012;
    padding: 50px;
    margin-top: 110px;
    border-radius: 15px;
}

.she {
    display: flex;
    justify-content: space-between;
}

.she_left {
    display: flex;
    gap: 20px;
    width: 500px;
    font-size: 2rem;
}

.she_logo {
    font-size: 3rem;
    color: #0077ff;
}

.title_she {
    display: flex;
    align-items: center;
}

.she_btn {
    width: 150px;
    height: 40px;
    padding: 4px;
    border: none;
    border-radius: 50px;
    background: rgb(25, 75, 253);
    background: linear-gradient(142deg, rgba(25, 75, 253, 1) 0%, rgba(173, 19, 251, 1) 100%);
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    font-family: inherit;
    font-size: medium;
}

.she_btn a {
    color: var(--white);
}

.she_btn:hover {
    transform: scale(1.2, 1.2);
}/* پایان بخش همکاری */

.pedar_nav_bottom {/* شروع نوبار موبایل */
    display: none;
    justify-content: center;
    width: 100%;
}

.nav_bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #1010129c;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    padding: 30px;
    width: 650px;
    transition: all 0.5s;
}

.nav_bottom a {
    color: var(--white);
    transition: all 0.2s;
}

.nav_bottom ul {
    display: flex;
    gap: 250px;
    list-style: none;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 2rem;
}/* پایان نوبار موبایل */

.footer {/* شروع فوتر */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border-top: 1px solid #ffffff23;
    margin-top: 150px;
    padding: 50px 50px 30px 50px;
    font-size: 1.3rem;
}

.box_footer {
    display: flex;
    justify-content: space-evenly;
}

.box_footer p {
    color: var(--white);
    margin-bottom: 10px;
}

.box_footer a {
    color: rgba(255, 255, 255, 0.349);
    transition: all 0.3s;
}

.box_footer a:hover {
    color: rgba(255, 255, 255, 0.473);

}

.contacts {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.Quick_link {
    display: flex;
    flex-direction: column;
}

.copyright {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}/* شروع فوتر */

@media(max-width:1024px) {
    .header{
        justify-content: center;
    }
    .r_header{
        display: none;
    }
    .pedar_nav_bottom{
        display: flex;
    }

    .box:hover {
        background-color: #101012;
        transform: scale(1, 1);
        
    }

    .btn_View_Projects{
        bottom: 150px;
        right: 50%;
    }
    footer{
        margin-bottom: 65px;
    }
}

@media(max-width:690px){
    .nav_bottom {
        width: 100%;
        bottom: 0;
    }
    .btn_View_Projects{
        bottom: 120px;
        right: 40%;
    }
    .she_btn{
        font-size: 1rem;
    }
    .box_footer{
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media(max-width:477px){
    .nav_bottom ul{
        gap: 70px;
    }
    .she_btn{
        font-size: 0.8rem;
    }
    .btn_View_Projects{
        width: 120px;
        height: 35px;
        font-size: 1rem;
        bottom: 80px;
        right: 33%;
    }
    .box_footer{
        gap: 50px;
    }
}