:root {
    --blak: #0A0A0C;
    --white: #e4e4e4;
    --blu: #194BFD;
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* Daek mod */
body.dark {
    background-color: #0A0A0C;
    color: var(--white);
}

body.dark
.Header li{
color: var(--white);

}

body.dark
.Header{
    background-color: #3b3b3b;
}

body.dark
.Le_Header{
    color: var(--white);
}

body.dark 
.Darkmod:hover{
    background-color: #3f3f3f59;
}

body.dark
.blur_but{
    background-color: #3a3a3a8c;
}
/* Daek mod */
html {
    font-size: 10px;
}

body{
    transition: all 0.5s;
}

header{
    width: 100%;
    background-image: url("/photo/25dc673d-95c0-4e12-8f99-8d2bd43ca9c5.jpg");
}

.Header{
    padding: 20px;
    background-color: rgb(201, 201, 201);
    display: flex;
    font-size: 1.7rem;
    justify-content: space-between;
    align-items: center;
}

.Re_Header ul{
    display: flex;
    gap: 15px;
    list-style: none;
    transition: all 0.5s;
    cursor: pointer;
}

.Re_Header li {
    color: var(--blak);
}

.Re_Header li:after {
    content: "";
    transition: all 0.5s;
}
.Re_Header li:hover::after {
    content: "";
    display: flex;
    width: 50px;
    height: 3px;
    background-color: var(--blu);
    transition: all 0.5s;
}

.Le_Header{
    display: flex;
    align-items: center;
    gap: 15px;
}

.Darkmod{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 40px;
    cursor: pointer;
    transition: all 0.5s;
}

.Darkmod:hover{
    background-color: #d6d6d6;
    border-radius: 13px;
    color: var(--blu);
}

.Darkmod .none{
    display: none;
}

.Le_box .none{
    display: none;
}

.Logo .P_Logo{
    font-size: 2rem;
    margin-right: 10px;
}

.but_he{
    height: 500px;
}

.blur_but{
    width: 100%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Heder_p{
   font-size: 2.6rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 20px;
}

.Btn_Header{
    display: flex;
    gap: 40px;
}

.btn {
    padding: 10px;
    font-size: 1.8rem;
    font-family: inherit;
    border-radius: 50px;
    border: none;
    padding: 20px;
    width: 300px;
    cursor: pointer;
    background: linear-gradient(90deg,rgba(45, 174, 224, 1) 0%, rgba(109, 87, 199, 1) 53%, rgba(206, 87, 233, 1) 98%);
    color: var(--white);
    transition: all 0.5s;
}

.btn:hover{
    box-shadow: 2px 5px 30px rgb(75, 75, 75);
}